@import "tailwindcss";

@theme {
  --color-background: #121212;
  --color-foreground: #ffffff;
  --color-brand-blue: #1048dd;
  --color-brand-orange: #ff8c00;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
